---
layout: default
---
<!-- page.html -->

        <article>
          {% if page.profile -%}
          <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
            {%- if page.profile.image %}
              {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}

              {% if page.profile.image_circular %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded-circle" -%}
              {% else %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
              {% endif %}
              {% include figure.html 
              path=profile_image_path 
              class=profile_image_class
              alt=page.profile.image -%}
            {% endif -%}
            {%- if page.profile.address %}
            <div class="address">
              {{ page.profile.address }}
            </div>
            {%- endif %}
          </div>
          {%- endif %}
        </article>

        <div class="post">
          <header class="post-header">
            <h1 class="post-title">{{ page.print_title }}</h1>
            <p class="post-description">{{ page.description }}</p>
          </header>
          <article>
            {{ content }}
          </article>
        </div>


        <!-- {% if page.cv_pdf %} -->
        <!--   <header class="post-header"> -->
        <!--     <h1 class="post-title"> -->
        <!--       <a href="{{ page.cv_pdf | prepend: 'assets/pdf/' | relative_url}}" -->
        <!--         target="_blank" rel="noopener noreferrer" class="float-left"> -->
        <!--         <i class="fas fa-file-pdf"></i> -->
        <!--       </a> -->
        <!--     </h1> -->
        <!--     <p class="post-description">Please find my shortened CV here</p> -->
        <!--   </header> -->
        <!-- {% endif %} -->
          
